title: "Duskara Compendium"
format:
  pdf:
    documentclass: book
    toc: true
    toc-depth: 2
    number-sections: false
    geometry:
      - paperwidth=6in
      - paperheight=9in
      - inner=0.75in
      - outer=0.625in
      - top=1.2in
      - bottom=1in
    mainfont: "Maitree"
    fontsize: 10.5pt
    include-in-header:
      text: |
        \usepackage{fancyhdr}
        \usepackage{fontspec}
        \usepackage{titlesec}
        \usepackage{graphicx}
        \usepackage{multicol}
        \usepackage{needspace}
        
        % Set up fonts
        \newfontfamily\rakkasFont{Rakkas}
        \newfontfamily\pretoriaFont{Pretoria}
        
        % Title page with logo
        \usepackage{titling}
        \pretitle{
          \begin{center}
          \includegraphics[width=1in]{logo.png}
          \vskip 2em
          \pretoriaFont\fontsize{36}{42}\selectfont
        }
        \posttitle{\end{center}\vskip 2em}

        % Heading styles with orphan prevention
        \titleformat{\chapter}[display]
          {\rakkasFont\fontsize{24}{28}\selectfont}{\thechapter}{0pt}{}
        
        \titleformat{\section}
          {\rakkasFont\fontsize{20}{24}\selectfont}{\thesection}{1em}{}
        \titlespacing*{\section}{0pt}{3.5ex plus 1ex minus .2ex}{2.3ex plus .2ex}
        
        \titleformat{\subsection}
          {\rakkasFont\fontsize{16}{20}\selectfont}{\thesubsection}{1em}{}
        \titlespacing*{\subsection}{0pt}{3.5ex plus 1ex minus .2ex}{2.3ex plus .2ex}
        
        \titleformat{\subsubsection}
          {\bfseries\scshape\fontsize{12}{14}\selectfont}{\thesubsubsection}{1em}{}
        
        % Prevent orphaned headings - require at least 4 lines after heading
        \let\oldsection\section
        \renewcommand{\section}{\needspace{6\baselineskip}\oldsection}
        
        \let\oldsubsection\subsection
        \renewcommand{\subsection}{\needspace{5\baselineskip}\oldsubsection}
        
        \let\oldsubsubsection\subsubsection
        \renewcommand{\subsubsection}{\needspace{4\baselineskip}\oldsubsubsection}
        
        % Aggressive paragraph break prevention
        \widowpenalty=10000
        \clubpenalty=10000
        \brokenpenalty=10000
        \predisplaypenalty=10000
        \postdisplaypenalty=10000
        \displaywidowpenalty=10000
        \interlinepenalty=100
        \raggedbottom
        
        % Prefer keeping paragraphs together
        \usepackage{etoolbox}
        \pretocmd{\par}{\nopagebreak[3]}{}{}
        
        % Keep list items together
        \usepackage{enumitem}
        \setlist{nosep, itemsep=0.5ex}
        \let\olditem\item
        \renewcommand{\item}{\needspace{2\baselineskip}\olditem}
        
        % Page numbers and footer
        \pagestyle{fancy}
        \fancyhf{}
        \fancyfoot[LE]{\rakkasFont\fontsize{12}{16}\selectfont\thepage}
        \fancyfoot[RO]{\rakkasFont\fontsize{12}{16}\selectfont\thepage}
        \fancyfootoffset[LE,RO]{0pt}
        \renewcommand{\headrulewidth}{0pt}
        \renewcommand{\footrulewidth}{1pt}
        \renewcommand{\footrule}{
          \color{gray}\hrule width\headwidth height1pt \vskip2pt
        }
        
        \fancypagestyle{plain}{
          \fancyhf{}
          \fancyfoot[LE]{\rakkasFont\fontsize{12}{16}\selectfont\thepage}
          \fancyfoot[RO]{\rakkasFont\fontsize{12}{16}\selectfont\thepage}
          \renewcommand{\headrulewidth}{0pt}
          \renewcommand{\footrulewidth}{1pt}
        }


